<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Balance</th>
    <th colspan="100"></th>
  </tr>
  </thead>

  <tbody>
  <% if user_signed_in? %>
      <tr>
        <% @user.each do |user| %>
            <td> <%= user.name %></td>
            <td><%= user.balance %></td>
     </tr>
     <% end %>
        <br>


  <% end %>

  </tbody>
</table>

