<br><br><br><br><br>

<h1>Welcome to invoicer</h1>

<%= link_to('Register', new_user_registration_path, class: 'btn btn-success')  %> <br><br><br>
<%= link_to('Login', new_user_session_path, class: 'btn btn-success')  %>