<h1>Welcome to invoicer</h1>

<%= link_to('Register', new_user_registration_path, class: 'btn btn-default')  %><br>
If you dont have an account yet<br>
Or just login<br>
<%= link_to('Login', new_user_session_path, class: 'btn btn-default')  %>