<h1><%= @user.name %></h1>
<%= link_to image_tag(current_user.avatar.url(:medium), class: 'round-image-250'), current_user %> <br>
<h1><%= @user.balance %></h1>

<% if @user.tasks.any? %>
  Task for now: <%= @user.tasks.first.name%>
<% end%>
<br>
TODO: Progress Bar with Timeline

