<footer class="footer">
  <small>
    <a href="http://www.wgserv.eu/comcalc">Comcalc</a>
    by <a href="http://www.github.com/jschmid1">jaiks</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://blog.wgserv.eu/">Blog</a></li>
    </ul>
  </nav>
</footer>